body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(90deg,
            #badeff 0%,
            #93cbff 50%,
            #4baeff 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.caixa-entrar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, #7cb5ff 0%, #3089fd 100%);
    border-radius: 24px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
    padding: 36px 36px 32px 36px;
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.caixa-entrar .footer {
    margin: 0;
    margin-top: 100px;
    color: white;
    font-size: 12px;
}

.cabecalho-entrar {
    text-align: center;
    color: white;
    margin-bottom: 18px;
}

.cabecalho-entrar i {
    font-size: 2.5rem;
    margin-bottom: 6px;
}

.cabecalho-entrar h1 {
    font-size: 50px;
    margin: 0;
    font-weight: 500;
    font-weight: bold;
}

.cabecalho-entrar h2 {
    font-size: 15px;
    margin: 0;
    font-weight: normal;
}

.cabecalho-entrar p {
    margin-bottom: 50px;
}

.formulario-entrar p {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 10px;
}

.botao-login {
    background-color: rgb(6, 93, 199);
    color: white;
    padding: 13px 0;
    border: none;
    border-radius: 22px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    width: 300px;
    transition: background 0.2s;
}

.botao-login:hover {
    background-color: rgb(4, 70, 150);
}

.botao-cadastrar {
    background-color: rgb(6, 93, 199);
    color: white;
    padding: 13px 0;
    border: none;
    border-radius: 22px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    width: 100%;
    transition: background 0.2s;
}

.botao-cadastrar:hover {
    background-color: rgb(4, 70, 150);
}

.container-imagem {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imagem-fundo {
    max-width: 350px;
    max-height: 350px;
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 0 24px 24px 0;
}

@media (min-width: 900px) {
    .container {
        max-width: 1100px;
        margin: auto;
        height: 600px;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.199);
        border-radius: 24px;
        overflow: hidden;
    }

    .caixa-entrar {
        max-width: 420px;
        border-radius: 24px 0 0 24px;
        height: 100%;
    }

    .container-imagem {
        display: flex;
        flex: 1;
    }

    .imagem-fundo-bg {
        position: absolute;
        top: 0;
        left: -20;
        width: 110%;
        height: 100%;
        object-fit: cover;
        opacity: 0.2;
        z-index: 1;
    }

    .imagem-fundo {
        position: relative;
        z-index: 1;
        max-width: 350px;
        max-height: 350px;
        object-fit: contain;
        border-radius: 0 24px 24px 0;
    }
}