.curso {
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
}

.curso h3 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
}

.curso p {
  font-size: 18px;
  color: #666;
}

.curso .btn {
  background-color: #337ab7;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.curso .btn:hover {
  background-color: #23527c;
}

#curso-cadastrados-lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#curso-cadastrados-lista .curso {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#curso-cadastrados-lista .curso h3 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
}

#curso-cadastrados-lista .curso p {
  font-size: 14px;
  color: #666;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}